<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>회원 가입</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        {{request.user}}
    {% endif %}
    <div class='signupbox'>
        <form action="" id ="fmField" method="POST" enctype="multipart/form-data" novalidate="novalidate">
          {% csrf_token %}
          <div>
            {% comment %} 회원정보 폼 1 {% endcomment %}
            <div class='signup-user'>
              <div class='signup-userinfo-box'>
                <input data-testid="input-box" name="username"
                        placeholder="아이디" id="userId" type="text" required="" class="signup-userinfo" value="" autocomplete="off">
                <input data-testid="input-box"  id ="email" name="email"
                        placeholder="이메일" type="email" required="" class="signup-userinfo" value="" autocomplete="off">
                <input data-testid="input-box" name="password1"
                        placeholder="암호" type="password" id="userPw1" required="" class="signup-userinfo" value="">
                <input data-testid="input-box" name="password2"
                        placeholder="암호 확인" type="password" id="userPw2" required="" class="signup-userinfo" value="">
              </div>
              <div class='signup-userinfo-name-box'>
                <input data-testid="input-box" name="first_name"
                        placeholder="이름" type="text" required="" class="signup-userinfo-name" value="" autocomplete="off">
                <input data-testid="input-box" name="last_name"
                        placeholder="성" type="text" required="" class="signup-userinfo-name" value=""autocomplete="off">
              </div>
            </div>
            <div>
              <button class='signup-btn'  onclick="return checkForm();" type="submit">Gotalk에 가입하기</button>
            </div>
          </div>
        </form>
    </div>
</body>
</html>