<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"username" }}
    <input id="request_user_pk" type="hidden" value="{{ request.user.pk }}">
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            
            const data = JSON.parse(e.data);
            
            chatLog = document.querySelector('#chat-log')
            chatLog.scrollTop = chatLog.scrollHeight
            const request_user_pk = document.querySelector('#request_user_pk').value;
            console.log(request_user_pk)
            if (request_user_pk == data.context.user_pk) {
                console.log(2)
                if (data.message === "님이 입장하셨습니다" || data.message === "님이 퇴장하셨습니다") {
                    document.querySelector('#chat-log').value += (data.context.username + data.message + '\n');
                }
                else{
                    const chat = document.querySelector('#chat-log');
                    const p = data.context.username + ":" + data.message + '\n';
                    console.log(p)
                    p.style.cssText = "display: flex flex-direction: row-reverse"
                    document.querySelector('#chat-log').value += p;
                }
            }
            else {
                console.log(3)
                if (data.message === "님이 입장하셨습니다" || data.message === "님이 퇴장하셨습니다") {
                    document.querySelector('#chat-log').value += (data.context.username + data.message + '\n');
                }
                else{
                    const chat = document.querySelector('#chat-log');
                    const p = data.context.username + ":" + data.message + '\n';
                    console.log(p)
                    // p.style.color  = "display: flex flex-direction: row-reverse"
                    document.querySelector('#chat-log').value += p;
                }
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
                
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>